<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <%- include('partial/bootstrap') %>
</head>

<body>
    <%- include('partial/navbar') %>

    <h2>List</h2>

    <% if (success) { %>
    <small class="alert alert-success">
        <%= success %>
    </small>
    <% } %>

    <h4 style="text-align: center;"><a href="/book/add">Add Cast</a></h4>

    <form class="form-inline my-2 my-lg-0" action="/book/search" method="GET">
        <select class="form-control" name="searchBy">
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="year">Released Year </option>
        </select>
        <input class="form-control mr-sm-4" type="text" name="searchData" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Released Year</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%=data[i].title%></td>
                <td><%=data[i].author%></td>
                <td><%=data[i].year%></td>
                <td><%=data[i].stock%></td>
                <td><%=data[i].harga%> /day</td>
                <td><a href="book/edit/<%=data[i].id%>" class="btn btn-success">Edit</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>

</body>

</html>