<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Customer</title>
    <%- include('partial/bootstrap') %>
</head>

<body>
    <%- include('partial/navbar',{session:session}) %>
        <h2>
            <%=data.title%>
        </h2>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Durasi</th>
                    <th scope="col">No Hp</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <% data.Users.forEach((dataUser) => { %>
                    <tr>
                        <td>
                            <%= dataUser.first_name %>
                                <%= dataUser.last_name %>
                        </td>
                        <td>
                            <%= dataUser.Transaction.duration %> Days</td>
                        <td>
                            <%= dataUser.phone_number %>
                        </td>
                        <td>
                            <%= helperPrice(data.harga, dataUser.Transaction.duration) %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
</body>

</html>